*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: rgb(247, 239, 239);
  color: whitesmoke;
  line-height: 1.5;
}
.header{
  padding: 25px;
}
.header nav{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    padding: 8px;
    background-color: rgb(12, 12, 12);
    box-shadow: 0px 4px 15px rgba(0,0,0,.3);
    border-radius: 5px;
}
.header nav a{
    float: right;
    padding: 0 25px;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    font-size: 18px;
    margin: 10px 0;
}
nav a:hover, nav a.active{
    text-decoration: underline;
    color: rgb(128, 123, 123);
}
.titre{
    top: 0;
    left: 0;
    float: left;
}
.titre:hover{
    text-transform: uppercase;
    color: rgb(128, 123, 123);

}
.contact {
  padding: 20px;
  background-color: rgb(0, 0, 0, .85);
  text-align: center;
  width:700px;
  height:530px;
  margin: 20px auto;
  margin-top: 50px;
  border: solid black;
  border-radius: 20px;
  margin-bottom: 70px;
}
.contact a {
  color: rgb(145, 145, 225);
}
.contact h2 {
  font-size: 22px;
}

.contact form {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact button {
  padding: 12px;
  background-color: rgb(145, 145, 225);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.contact button:hover {
  background-color: #1abc9c;
}
.contact input,
.contact textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Segoe UI' sans-serif ;
}
.contact input::placeholder,
.contact textarea::placeholder{
  font-size: 16px;
  font-family: 'Segoe UI' sans-serif;
  color:rgb(120, 119, 119);
}
.footer{
  border: whitesmoke;
  padding: 15px;
  width: 100%;
}
.burger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.burger div{
    width: 15px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
    border-radius: 2px;
}
@media (max-width:768px){
  .contact{
    width: 700px;
    height: 90%;
  }
  .footer{
    bottom: 0;
  }
  nav a {
        float: none;
        display: none;
    }
    
  .titre{
    float: none;
    font-size: 16px;
    text-align: right;
  }
  .burger{
        display: flex;
        margin-top: 10px;
    }
}